html {
    height: 100%;
}

body {
    height: 100vp;
    background: linear-gradient(rgba(0,136,255,80), rgba(62, 155, 248,80));
    background-repeat: no-repeat;
    font-family: helvetica;
    font-size: 18px;
    font-weight: bold;
    filter: blur(.2px);
    -webkit-filter: blur(.2px);
    color: rgb(30, 31, 33);
}

.header {
    display: block;
    position: relative;
    font-family: cafeteria, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffe700;
    text-shadow: 1px 1px 0 #0060c7;
    text-align: center;
}

#connect-4 {
    display: block;
    font-size: 90px;
    font-weight: 900;
    color: white;
    text-shadow: 3px 1px 0 #0060c7;
    filter: blur(.5px);
    -webkit-filter: blur(.5px);
}

#instructions {
    position: absolute;
    top: 10px;
    font-weight: bold;
}

form {
    width: 50%;
    margin: 35px auto;
    text-align: center;
}

.form-header {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}

.form-inputs {
    justify-content: center;
    margin-bottom: 15px;
}

.form-inputs, .form-inputs>*, .flex-row {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    text-align: left;
}

input {
    padding: 5px;
}

span {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

#width, #height {
    width: 5ch;
}

#add-player:hover {
    font-weight: 600;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-self: self-start;
    gap: 5px;
}

#move-btn {
    gap: 20px;
}

#play {
    width: max-content;
    height: max-content;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 2px;
    padding: 7px 10px;
    align-self: flex-end;
}

#play:hover {
    background-color: rgb(250, 101, 101);
    transition: all .2s ease-out;
}

  
#game {
 width: 100%;;
 display: flex;
 position: relative;
 justify-content: space-around;
 margin-top: 30px;
}

  
#board {
    position: absolute;
    border-collapse: collapse;
    z-index: 3;
 }

#board td {
 position: relative;
 width: 50px;
 height: 50px;
 border: solid 7px #ffe700;
}
  
#column-top td {
 border: dotted 3px lightyellow;
 border-collapse: collapse;
 opacity: 0;
}
  
#column-top td:hover {
 opacity: 1;
 transition: all .2s ease-in;
 }
  
div.piece {
 bottom: 1px;
 animation: 1s bounce .7s ease-in;
}
  
.played-piece {
 position: absolute;
 margin: 5px;
 width: 80%;
 height: 80%;
 border-radius: 50%;
 bottom: 400px;
 transition: ease-in bottom .7s;
 z-index: -1;
 }
  
@keyframes bounce {
 from {
   transform: translateY(0px);
 }

 20% {
   transform: translateY(-45px);
 }
  
 40% {
   transform: translateY(-28px);
 }
  
 65% {
   transform: translateY(-12px);
 }
  
 82% {
   transform: translateY(-6px);
 }

93% {
   transform: translateY(-4px);
}
    
55%, 75%, 87% {
   transform: translateY(0px);
 }
  
 100% {
   transform: translateY(0px);
 }
  
 }