html {
    height: 100%;
}
body {
    height: 100vp;
    background: linear-gradient(rgba(0,136,255,80), rgba(62, 220, 248,80));
    background-repeat: no-repeat;
    font-family: helvetica;
    filter: blur(.2px);
    -webkit-filter: blur(.2px);
    color: rgb(30, 31, 33);
}

.connect-4 {
    display: block;
    font-family: cafeteria, sans-serif;
    font-size: 90px;
    font-weight: 800;
    font-style: normal;
    color: white;
    text-shadow: 3px 1px 0 #0060c7;
    filter: blur(.5px);
    -webkit-filter: blur(.5px);
    margin: 10px auto 0px;
    text-align: center;
}

.tagline {
    display: block;
    position: relative;
    color: #ffe700;
    text-shadow: 1px 1px 0 #0060c7;
    font-family: cafeteria, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    top: -15px;
    margin-bottom: 20px;
}

#game-form {
    display: flexbox;
    flex-flow: column wrap;
    /* flex-direction: wrap; */
    margin-left: 50px;
    align-items: baseline;
}

.form-inputs {
    display: inline-flex;
    width: 100%;
    margin: 10px 50px 10px 10px;
    column-gap: 50px;
}

.form-header {
    font-size: 18px;
    display: block;
    width: 100%;
    margin-left: 10px;
}

#players {
    display: flex;
    flex-direction: column;
}

#board-dimensions {
    margin-top: 28px;
}

button {
    /* flex-direction: column; */
    /* display: block; */
    width: fit-content;
    align-items: center;
    font-family: poppins;
    color: white;
    background-color: red;
    border: none;
    padding: 4px 10px;
    margin: 3px;
}

button:hover {
    background-color: rgb(250, 101, 101);
}

#width, #height {
    width: 30px;
}

div#players {
    flex-direction: column;
}

#add-player {
    color: black;
    width: 100%;
    padding-right: 2px;
    margin-bottom: 10px;
}

#add-player:hover {
    font-weight: 600;
    /* padding-right: 0px; */
}
  
#game {
 width: 100%;;
 display: flex;
 justify-content: space-around;
 margin-top: 30px;
}
  
#board {
    position: absolute;
    border-collapse: collapse;
    z-index: 3;
 }

#board td {
 position: relative;
 width: 50px;
 height: 50px;
 border: solid 7px #ffe700;
}
  
#column-top td {
 border: dotted 3px lightyellow;
 border-collapse: collapse;
}
  
#column-top td:hover {
 background-color: lightyellow;
 }

  /* pieces are div within game table cells: draw as colored circles */
  
div.piece {
 bottom: 1px;
 animation: 1s bounce .7s ease-in;
}
  
.played-piece {
/* TODO: make into circles */
 position: absolute;
 margin: 5px;
 width: 80%;
 height: 80%;
 border-radius: 50%;
 bottom: 400px;
 transition: ease-in bottom .7s;
 z-index: -1;
 }
  
@keyframes bounce {
 from {
   transform: translateY(0px);
 }

 20% {
   transform: translateY(-45px);
 }
  
 40% {
   transform: translateY(-28px);
 }
  
 65% {
   transform: translateY(-12px);
 }
  
 82% {
   transform: translateY(-6px);
 }

93% {
   transform: translateY(-4px);
}
    
55%, 75%, 87% {
   transform: translateY(0px);
 }
  
 100% {
   transform: translateY(0px);
 }
  
 }
  